$primary-colour: #7CA982;
$secondary-colour: #F1F7ED;
$tertiary-colour: black;
$submit-btn-hover-colour: #bdf09a;
$reset-btn-hover-colour: #57a161;

$small-screen: 390px;
$medium-screen: 480px;
$large-screen: 650px;